nav{
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding: 0 30px;
    margin-top: 5%;
    margin-bottom: dark;
}
nav ul li a{
    text-decoration: none;
    color:orange;
}
.perfect{
    background-image: url(https://th.bing.com/th/id/OIP._Fxv7pChiqxvz4QLubEXJgHaLH?rs=1&pid=ImgDetMain);  
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    align-items: center;
}
button{
    margin-left: 45%;
    align-items: center;
}
button:hover{
    color:orange;
    border-radius: 70px;
    box-shadow: inset;
}
.img-thumbnail{
width: 300px;
}
h2{
    color: peru;
    text-align: center;
}

p{
    text-align: center;
    color:white;
}
span{
    color: red;
}
.biger{
    margin-left: 45%;
    align-items: center;
}
.image{
    margin-left: 45%;
    align-items: center;
}